<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="static/styles.min.css">
</head>
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html">SARV HOPE</a></h1>

      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="">Home</a></li>
          <li><a class="nav-link scrollto" href="/view_all_children">View All Children</a></li>
          <!-- <li><a class="nav-link scrollto" href="#Literature_Survey">Literature Survey</a></li> -->
          <li><a class="nav-link scrollto " href="/index">Child Registration</a></li>
          <!-- <li><a class="nav-link scrollto" href="#Research_Problem">Research Problem</a></li> -->
          <li><a class="nav-link scrollto" href="/visualization">Data Visualization</a></li>
          <!-- <li><a class="nav-link scrollto" href="#Sub_objective">Sub objective</a></li> -->
          <li><a class="nav-link scrollto" href="/Doc_All">Registered Doctors</a></li>
          <!-- <li><a class="nav-link scrollto" href="">About Us</a></li> -->
          <!-- <li><a class="nav-link scrollto" href="">Contact Us</a></li> -->

          <!-- <li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
<body>
    <h2 class="clz">Visualization of Iot based Spoon</h2><br>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="http://localhost:5000/" style="color:#aedc8a;"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1"></div>
    </div>
    </nav>
    </div>
    <div class="login-clean">
        
        <form method="post" action="/spoon_violin ">
            <input type="submit" name="submit" value="Violin plot visualization" class="btn btn-primary btn-block" style="background-color:#aedc8a;color:rgb(40,140,38);">
        </form>
        <form method="post" action="/spoon_strip">
            <input type="submit" name="submit" value="Strip plot visualization" class="btn btn-primary btn-block" style="background-color:#aedc8a;color:rgb(40,140,38);">
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>