<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html">SARV HOPE</a></h1>

      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="">Home</a></li>
          <li><a class="nav-link scrollto" href="/view_all_children">View All Children</a></li>
          <!-- <li><a class="nav-link scrollto" href="#Literature_Survey">Literature Survey</a></li> -->
          <li><a class="nav-link scrollto " href="/index">Child Registration</a></li>
          <!-- <li><a class="nav-link scrollto" href="#Research_Problem">Research Problem</a></li> -->
          <li><a class="nav-link scrollto" href="/visualization">Data Visualization</a></li>
          <!-- <li><a class="nav-link scrollto" href="#Sub_objective">Sub objective</a></li> -->
          <li><a class="nav-link scrollto" href="/Doc_All">Registered Doctors</a></li>
          <!-- <li><a class="nav-link scrollto" href="">About Us</a></li> -->
          <!-- <li><a class="nav-link scrollto" href="">Contact Us</a></li> -->

          <!-- <li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
<body>
    <div class = "prediction">
    <h1>Toy Car Visualization</h1>
    </div>
    
    <!-- <img src = "/toyCar.jpg" style="width:500px;height:600px;"><picture> -->
     
    <img src="/Front_end_2022/static/toyCar.jpg" style="width:auto;" style="width:500px;height:600px;">
    <!-- .image-holder2{display:table-cell;width:33%;background:url(../../static/bb.jpg);background-size:cover} -->
     


    
</body>
</html>