<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="static/styles.min.css">
    <style>
        a:link, a:visited {
          background-color: #aedc8a;
          color: rgb(1, 11, 1);
          padding: 14px 25px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
        }
        
        
        </style>
    
        
       
      
</head>
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html">SARV HOPE</a></h1>

      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="/home">Home</a></li>
          <li><a class="nav-link scrollto" href="/view_all_children">View All Children</a></li>
          <!-- <li><a class="nav-link scrollto" href="#Literature_Survey">Literature Survey</a></li> -->
          <li><a class="nav-link scrollto " href="/index">Child Registration</a></li>
          <!-- <li><a class="nav-link scrollto" href="#Research_Problem">Research Problem</a></li> -->
          <li><a class="nav-link scrollto active" href="/visualization">Data Visualization</a></li>
          <!-- <li><a class="nav-link scrollto" href="#Sub_objective">Sub objective</a></li> -->
          <li><a class="nav-link scrollto" href="/Doc_All">Registered Doctors</a></li>
          <!-- <li><a class="nav-link scrollto" href="">About Us</a></li> -->
          <!-- <li><a class="nav-link scrollto" href="">Contact Us</a></li> -->

          <!-- <li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
<body>
    <h2 class="clz">Visualization Types of Toys</h2><br>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <!-- <div class="container"><a class="navbar-brand" href="http://localhost:5000/" ></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button> -->
                <div
                    class="collapse navbar-collapse" id="navcol-1"></div>
    </div>
    </nav>
    </div>
    <div class="login-clean">
        



        <form method="post" action="/marker_page">
            <input type="submit" name="submit" value="Marker" class="btn btn-primary btn-block" style="background-color:#aedc8a;color:rgb(40,140,38);">
        </form>
        <form method="post" action="/spoon_page">
            <input type="submit" name="submit" value="Spoon" class="btn btn-primary btn-block" style="background-color:#aedc8a;color:rgb(40,140,38);">
        </form>
        <!-- <form method="post" action="/bangle_armwrap_page">
            <input type="submit" name="submit" value="Bangle" class="btn btn-primary btn-block" style="background-color:#aedc8a;color:rgb(40,140,38);">
        </form> -->
        <!-- <form method="post" action="/toyCar_page">
            <input type="submit" name="submit" value="Toy Car" class="btn btn-primary btn-block" style="background-color:#aedc8a;color:rgb(40,140,38);">
        </form> -->
        <form >
        <a  class="btn btn-primary btn-block"   href="https://app.powerbi.com/view?r=eyJrIjoiMTdmY2I2NjItMjc5MS00ZWY4LWIzZTktYTYxZmVmNTVkZmUwIiwidCI6IjQ0ZTNjZjk0LTE5YzktNGUzMi05NmMzLTE0ZjViZjAxMzkxYSIsImMiOjEwfQ%3D%3D"  style="background-color:#aedc8a;color:rgb(40,140,38);">Rattle Visualization</a>
         </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>
<!-- <a href="/home">Navigate to Home page</a> -->
</html>